{% extend "base.html" %}

{% block content %}
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Student</th>
            <th scope="col">Number of Items</th>
            <th scope="col">Total Price</th>
        </tr>
    </thead>
    <tbody>
        {% for item in items %}
        <tr>
            <td scope="row">{{ item[0] }}</td>
            <td scope="row">{{ item[2] }}</td>
            <td scope="row">{{ "$%.2f"|format(item[1]*item[2]) }}</td>
        </tr>
        {% endfor %}
        <tr>
            <td></td>
            <td>Order Total:</td>
            <td>${{ sum }}</td>
    </tbody>
</table>