<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    {% if title %}
    <title>{{ title }} - Haste</title>
    {% else %}
    <title>Haste</title>
    {% endif %}
</head>

<body>
    <nav>
        <a href="{{ url_for('main.index') }}">Haste</a>
        <a href="{{ url_for('auth.login') }}">Login</a>
        <a href="{{ url_for('auth.register') }}">Register</a>
    </nav>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div>
            <ul>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
    {% endwith %}

    {% block content %}{% endblock %}
</body>
            