{% extends "base.html" %}

{% block content %}
<div id="requests">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">id</th>
                <th scope="col">Number of Items</th>
                <th scope="col">Price Estimation</th>
            </tr>
        </thead>
        {% for request in requests %}
        <tr>
            <th scope="row">{{ request.author.id }}</th>
            <th scope="row">{{ request.contents.quantity }}
            </th>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}