{% extends "base.html" %}

{% block content %}
<div id="requests">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">id</th>
                <th scope="col">Number of Items</th>
                <th scope="col">Total Price</th>
            </tr>
        </thead>
        <tbody>
            {% for request, qp in rqp %}
            <tr>
                <td scope="row">{{ request.author.id }}</td>
                <td scope="row">{{ qp['quantity'] }}</td>
                <td scope="row">${{ qp['sum'] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}