{% extends "base.html" %}

{% block content %}
<div id="items">
    <form method="POST" enctype='application/json'>
        <input class="search form-control mt-2 mb-2" placeholder="Search">
        <button class="btn btn-outline-success mb-2" type="submit">Checkout</button>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Item</th>
                    <th>Price</th>
                    <th>Quantity</th>
                </tr>
            </thead>
            <tbody class="list">
            {% for item in items %}
                <tr>
                    <td class="name"><input type="checkbox" id="{{ item.id }}" name="{{ item.id }}">
                        <label for="{{ item.id }}">{{ item.name }}</label></td>
                    <td class="price">{{ "$%.2f"|format(item.price) }}</td>
                    <td><input type="number" name="{{ item.id }}-quantity" min="0" step="1"></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </form>
    
</div>
<script src="//cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js"></script>
<script>
var userList = new List('items', {valueNames: ['name']});
</script>

{% endblock %}