{% extends "base.html" %}

{% block content %}
<form>
    <div id="items">
        <input class="search" placeholder="Search">
        <table>
            <tbody class="list">
            {% for item in items %}
                <tr>
                    <td><input type="checkbox" name="{{ item.id }}"></td>
                    <td class="name">{{ item.name }}</td>
                    <td><input type="number" name="{{ item.id }}-quantity" min="0" step="1"></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</form>
<script src="//cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js"></script>
<script>
var userList = new List('items', {valueNames: ['name']});
</script>
{% endblock %}