{% extends "base.html" %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <h3>Order placed by: {{ order.author.first_name }}</h3>
            <h4>Payout: {{ "$%.2f"|format(payout) }}</h3>
        </div>
    </div>
</div>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Item</th>
            <th scope="col">Quantity</th>
            <th scope="col">Subtotal</th>
        </tr>
    </thead>
    <tbody>
        {% for item in items %}
        <tr>
            <td scope="row">{{ item[0] }}</td>
            <td scope="row">{{ item[2] }}</td>
            <td scope="row">{{ "$%.2f"|format(item[1]*item[2]) }}</td>
        </tr>
        {% endfor %}
        <tr>
            <td></td>
            <td>Order Total:</td>
            <td>${{ sum }}</td>
    </tbody>
</table>

<div class="col-md-4 m-*-auto">
    {% if order.accepted_by==None %}
    <form method="POST">
        <input type=hidden name="order_id" value="{{ order.id }}">
        <button type="submit" class="btn btn-success">Accept Order</button>
    </form>
    {% elif order.author==current_user %}
    <a href="{{ url_for('main.delete_order', id=order.id) }}" class="btn btn-danger">Delete Order</a>
    {% else %}
    <a href="{{ url_for('main.complete_order', id=order.id) }}" class="btn btn-success">Completed</a>
    {% endif %}
</div>
{% endblock %}