{% extends "base.html" %}

{% block content %}
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Item</th>
            <th scope="col">Quantity</th>
            <th scope="col">Subtotal</th>
        </tr>
    </thead>
    <tbody>
        {% for item in items %}
        <tr>
            <td scope="row">{{ item[name] }}</td>
            <td scope="row">{{ item[name] }}</td>
            <td scope="row"></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}