{% extends "base.html" %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <h2>Order placed by: {{ order.author.first_name }}</h2>
        </div>
        <div class="col">
            <h3>{{ order.time_of_order }}</h3>
        </div>
    </div>
</div>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Item</th>
            <th scope="col">Quantity</th>
            <th scope="col">Subtotal</th>
        </tr>
    </thead>
    <tbody>
        {% for item in items %}
        <tr>
            <td scope="row">{{ item[0] }}</td>
            <td scope="row">{{ item[2] }}</td>
            <td scope="row">{{ "$%.2f"|format(item[1]*item[2]) }}</td>
        </tr>
        {% endfor %}
        <tr>
            <td></td>
            <td>Order Total:</td>
            <td>${{ sum }}</td>
    </tbody>
</table>
<a class="btn btn-success">Accept Order</a>
{% endblock %}